.box {
    @media('max-width: 992px') {
        margin-bottom: 1rem;
    }

    .single-search {
        @media('max-width: 992px') {
            padding: 0 0 1rem;

            #results {
                padding: 0 1rem;
            }
        }

        @media('min-width: 992px') {
            .row {
                margin-left: 0;
                margin-right: 0;
            }
            #results {
                position: absolute;
                top: 165px;
                background: white;
                padding: 1rem;
                width: 100%;
                z-index: 1;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
                display: none;

                &.show {
                    display: block;
                }
            }
        }
    }

}
