.card {
    margin-bottom: 1rem;

    .image-container span.unit-rate {
        border-radius: 0 0 3px 0;
    }

    .unit-card-details {
        position: relative;

        .paw-print {
            position: absolute;
            top: 40px;
            transform: rotate(33deg);
            font-size: 35px;
            right: 13px;
            color: #418899;
        }
    }
}
